.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding: 10px;
    padding-right: 0;
}

.main-grid {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 80%;
    height: 100%;
    max-height: fit-content;
}

.navbar {
    height: 10%;
    display: flex;
    padding: 30px 10px 30px 10px;
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    width: 100%;
}

.gallery {
    height: 90%;
    margin-top: 20px;
    width: 100%;
}

img {
    border: 10px solid gray;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .main-nav {
        width: 100%;
        max-height: 10%;
        padding: 10px;
    }
    .main-grid {
        padding: 10px;
        width: 100%;
        height: 100%;
        max-height: 90%;
        margin-top: 10px;
    }
    .image-credit {
        font-size: 0.5em;
        right: 10px;
    }
    
}