body {
  background-repeat: no-repeat;
  background-position-x: center;
  height: 120vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  /* text-align: center; */
  background-color: #1A202C;
  background-image: none;
  width: 100vw;
  height: 120vh;
}

